#page-wrap {
    margin: 0 auto;
}
body {

    width: 60%;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,10%);
    padding: 10px;
    background-color: #EEFBFD;
}
ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
ul ul {
    display: none;
    list-style-type: none;
    padding:0;
    margin:0;
}

#check {
    background-color: black;
}
li {
    background-color: #748BD5;
    border: 1px solid #3B96AC;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 4px 3px 54px 0px rgba(0,0,0,0.39);
}
li ul li {
    border: none;
}
#back {
    height: 20px;
    width: 40px;
    background-color: #8296D5;
    color: #323333;
    text-align: center;
}
img {
    width: 50px;
    height: 50px; 
}
.name{
    font-weight: bold;
    font-size: 30px;
    
}
.seasonlist {
    vertical-align: auto;
    align-content: auto;
    font-weight: bold;
    font-size: 25px;
}

.episode_info li {
    background-color: #F2CBEE;
    color: #C70285;
    border: 1px solid #DA96D3;
}

@media only screen and (max-width: 480px) {
	body {
		background: white;
		margin: auto;
        width: 100%;
		padding: 0;
		font-family: sans-serif;
	}
	h1 {
		background-color: lightblue;
		margin: 0;
		padding: 20px;
	}
	li {
		list-style: none;
		border-bottom: 1px solid lightgrey;
		font-size: 17px;
		padding: 10px;
	}
	a {
		text-decoration: none;
	}
    .name{
        font-size: 23px;
    }
     .overview{
        display: none;
    }
}

@media only screen and (min-width: 479px) {
	body {
		background: white;
		margin: auto;
        width: 80%;
		padding: 0;
        font-size: 12px;
		font-family: sans-serif;
	}
    img {
        width: 100px;
        height: 150px; 
    }
	h1 {
		background-color: lightblue;
		margin: 0;
		padding: 20px;
	}
	li {
		list-style: none;
		border-bottom: 1px solid lightgrey;
        font-size: 12px;
		padding: 10px;
	}
	a {
		text-decoration: none;
	}
    .name{
        font-size: 27px;
    }
}

@media only screen and (min-width: 1200px) {
	body {
		background: white;
		margin: auto;
        width: 80%;
		padding: 0;
        font-size: 12px;
		font-family: sans-serif;
	}
    img {
        width: 175px;
        height: 250px; 
    }
	h1 {
		background-color: lightblue;
		margin: 0;
		padding: 10px;
	}
	li {
		list-style: none;
		border-bottom: 1px solid lightgrey;
        font-size: 12px;
		padding: 20px;
	}
	a {
		text-decoration: none;
	}
    .name{
        font-size: 32px;
    }
}